Source: ros-eloquent-rmf-gazebo-plugins
Section: misc
Priority: optional
Maintainer: Morgan Quigley <morgan@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ament-cmake, ros-eloquent-building-map-msgs, ros-eloquent-gazebo-ros-pkgs, ros-eloquent-rclcpp, ros-eloquent-rmf-dispenser-msgs, ros-eloquent-rmf-fleet-msgs, ros-eloquent-std-msgs, ros-eloquent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-rmf-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-eloquent-building-map-msgs, ros-eloquent-gazebo-ros-pkgs, ros-eloquent-rclcpp, ros-eloquent-rmf-dispenser-msgs, ros-eloquent-rmf-fleet-msgs, ros-eloquent-std-msgs, ros-eloquent-ros-workspace
Description: ROS 2 slotcar plugin and payload handlers for Gazebo simulated robots
