Source: ros-rolling-rmf-gazebo-plugins
Section: misc
Priority: optional
Maintainer: Luca Della Vedova <luca@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-rolling-ament-cmake, ros-rolling-building-map-msgs, ros-rolling-gazebo-ros-pkgs, ros-rolling-rclcpp, ros-rolling-rmf-dispenser-msgs, ros-rolling-rmf-fleet-msgs, ros-rolling-rmf-ingestor-msgs, ros-rolling-rmf-plugins-common, ros-rolling-std-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmf-gazebo-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-rolling-building-map-msgs, ros-rolling-gazebo-ros-pkgs, ros-rolling-rclcpp, ros-rolling-rmf-dispenser-msgs, ros-rolling-rmf-fleet-msgs, ros-rolling-rmf-ingestor-msgs, ros-rolling-rmf-plugins-common, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: ROS 2 Gazebo plugins for TeleportIngestors, TeleportDispensers and Readonly Objects
